
html,
body {
  padding: 0;
  margin: 0;
  font-family: Averta, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
