@import "./variables.module.scss";
@import "./breakpoints.scss";

.work-list {
  padding: 0 0px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @include lg {
    padding: 0 20px 120px;
  }
}
